body {
    background-image: url("./../images/mainPage-bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.header {
    text-align: center;
    font-size: 34px;
    color: white;
    padding-top: 50px;
}

.card-img {
    height: 70vh;
    transition: 1s;
}

.card-image {
    margin-left: 50px;
    margin-top: 50px;
}

.card-img:hover {
    transform: scale(1.1);
}
